<header class="header">
    <div class="header-content">
        <a href="/" class="logo">LojaVirtual</a>
<form method="GET" action="{% url 'store:product_list' %}" class="search-form">
    <input type="text" name="q" placeholder="Buscar produto..." class="search-input">
    <button type="submit" class="search-button">Buscar</button>
</form>
        
        
        <nav>
            <ul class="nav-links">
                <li><a href="/">Início</a></li>
                <li><a href="{% url 'store:product_list' %}">Produtos</a></li>
                <li><a href="/cart/">Carrinho</a></li>
                <li><a href="/contato/">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
